.pageheader{
  background: radial-gradient(rgba(127, 223, 255, 0.15), rgba(127, 223, 255, 0.1), rgba(127, 223, 255, 0.15));
  height: 160px;
}
.pageheader h1{
  color: white;
  font-size: 100px;
}
.pageheader select{
  position: absolute;
  margin-left: 45%;
  top: 150px;
  width: 200px;
  height: 30px;
  color
}
.pageheader select option{
}

.content .release{
  background: radial-gradient(rgba(127, 223, 255, 0.15), rgba(127, 223, 255, 0.1), rgba(127, 223, 255, 0.15));
  border-left: 10px solid white;
  margin: 5px;
  padding: 30px;
}
.content .release#recommended{
  border-left: 10px solid #00d0ff;
}
.content .release .version{
  font-size: 40px;
  font-family: source sans pro;
}
.content .release .version p{
  font-size: 40px;
}
.content .release button#download,#source{
  position: absolute;
  right: 15%;
  width: 200px;
  margin-right: 40px;
}
.content .release .patchnotes{
  border-left: 10px solid white;
}
