@font-face {
  font-family: jurassicFont;
  src: url(../fonts/JurassicPark.ttf);
}

@font-face {
    font-family: 'Big John';
    src: url('../fonts/big_john-webfont.woff2') format('woff2'),
         url('../fonts/big_john-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
