body {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  background-color: #020232;
  overflow-x: hidden;
}



.header{
  text-align: center;
  font-family: jurassicFont;
  font-size: 80px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #3f8738;
}
.header #content {
  position: relative;
}
.header #content img#left{
  position: absolute;
  transform: rotate(150deg);
  top: -80px;
  left: -80px;
  width: 250px;
}
.header #content img#right{
  position: absolute;
  transform: rotate(-130deg);
  top: -80px;
  right: -80px;
  width: 250px;
}
nav {
  text-align: center;
  width: 100%;
  font-family: source sans pro;
  font-size: 24;
}
nav a{
  color: white;
  background-image: url(../images/plank2.png);
  text-decoration: none;
  display: inline-block;
  width: 108px;
  height: 38px;
  z-index: 3;
}



.content {
  background: radial-gradient(rgba(127, 223, 255, 0.15), rgba(127, 223, 255, 0.1), rgba(127, 223, 255, 0.15));
  border-top: 30px solid white;
  border-bottom: 5px solid white;
  color: #9ec3ff;
  margin: 30px 15% 0px;
  padding: 40px;
  z-index: 6;
}
.content p {
  font-family: source sans pro;
  padding: 25px 10%;
}
.content h1 {
  font-family: jurassicFont;
  font-size: 60px;
  text-align: center;
  margin: 0px;
  font-weight: normal;
}



.parallax {
  position: relative;
}
.parallax img {
  position: absolute;
  z-index: 6;
  overflow: hidden;
}
